body {
  margin: 0;
  background-color: white;
  padding: 130px 30px;
}

nav,
header,
footer,
section,
aside {
  display: block;
  z-index: 2;
}

nav.header {
  left: 0;
  height: 100px;
  width: 100%;
  background: #444c5c;
  position: absolute;
  top: 0;
}

nav.header div.logo {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: red;
}

div.content {
  display: flex;
  background-color: #b9d0cf;
}

div.description-wrapper {
  display: flex;
  width: 50%;
  height: 600px;
}

div.sign-forms-wrapper {
  display: flex;
  width: 50%;
  top: 0;
}

div#login-form-wrapper {
  margin: 5%;
  background-color: white;
}

div#reg-form-wrapper {
  margin: 5%;
  background-color: white;
}

div.sign-forms-wrapper input {
  border: 1px solid black;
  border-radius: 4px;
  width: 90%;
  height: 30px;
  margin: 5%;
}

div.sign-forms-wrapper input[type="submit"] {
  width: 50%;
  margin-left: 25%;
  border: 0;
  border-radius: 0;
  background-color: coral;
  color: white;
  font-family: "Abyssinica SIL";
}
