body {
  margin: 0;
  background-color: white;
  padding: 130px 30px;
}

nav,
header,
footer,
section,
aside {
  display: block;
  z-index: 2;
}

nav.header {
  left: 0;
  height: 100px;
  width: 100%;
  background: #444c5c;
  position: absolute;
  top: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 78px;
  color: #444;
}

nav.header div.logo {
  position: absolute;
  width: 205px;
  height: 80px;
  left: 17px;
  top: 9px;
  background: #fff;
  border-radius: 10px;
}

div.content {
  display: flex;
  background-color: #dae6e6;
}

div.description-wrapper {
  display: flex;
  width: 50%;
  height: 600px;
  font-size: 30px;
  font-family: Lato;
  color: #444;
}

div.sign-forms-wrapper {
  display: flex;
  width: 50%;
  top: 0;
}

div#login-form-wrapper {
  margin: 5%;
  background-color: #fafafa;
  border-radius: 10px;
}

div#reg-form-wrapper {
  margin: 5%;
  background-color: #fafafa;
  border-radius: 10px;
}

div.sign-forms-wrapper input {
  width: 90%;
  height: 40px;
  margin: 4%;
  background: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 5px;
}

div.sign-forms-wrapper input[type="submit"] {
  width: 76%;
  margin-left: 12%;
  border: 0;
  background: #e1b16a;
  border-radius: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  color: #fff;
}
