div.content > div {
  display: flex;
}

div.description-wrapper {
  display: flex;
  width: 50%;
  font-size: 30px;
  font-family: Lato, serif;
  color: #444;
}

div.description-wrapper > div {
  margin: 5%;
}

div.sign-forms-wrapper {
  display: flex;
  width: 50%;
  top: 0;
}

div.form-wrapper {
  margin: 5%;
  background-color: #fafafa;
  border-radius: 10px;
}

div.sign-forms-wrapper input {
  width: 90%;
  height: 40px;
  margin: 4%;
  padding-left: 10px;
  background: #fff;
  font-family: Lato, serif;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
}

div.sign-forms-wrapper input[type="submit"] {
  width: 76%;
  margin-left: 12%;
  padding-left: 0;
  border: 0;
  background: #e1b16a;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 17px;
  color: #fff;
}

div.sign-forms-wrapper input[type="submit"]:hover {
  background: #e1b192;
}
