div.content > div {
  display: flex;
}

div.description-wrapper {
  display: flex;
  width: 50%;
}

div.description-wrapper > div {
  margin: 5%;
  font-size: 30px;
  font-family: Lato, sans-serif;
  color: #444c5c;
}

div.sign-forms-wrapper {
  background-color: #fcfcfc;
  border-radius: 10px;
  display: flex;
  width: 50%;
  height: max-content;
  top: 0;
}

div.form-choice-wrapper {
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.form-choice-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Lato, sans-serif;
  color: #444c5c;
}

div.form-choice-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 45%;
}

div.form-choice-button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 45%;
}

div.form-choice-button-selected {
  background-color: #fca311;
  color: white;
  font-weight: bolder;
}

div.form-choice-button:not(.form-choice-button-selected):hover {
  color: #fca311;
}

div.sign-forms-wrapper input {
  width: 90%;
  height: 40px;
  margin: 15px 4% 4%;
  padding-left: 10px;
  background: #fff;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  color: #444c5c;
  outline: none;
}

div.sign-forms-wrapper input:hover {
  border-color: #444;
}

div.sign-forms-wrapper input:active {
  border-color: #767676;
}

div.sign-forms-wrapper input[type="submit"] {
  width: 76%;
  margin-top: 25px;
  margin-left: 12%;
  float: bottom;
  border: 0;
  background: #fca311;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
}

div.sign-forms-wrapper input[type="submit"]:hover {
  background: linear-gradient(#fca311, #f89a03);
}

div.hide {
  display: block;
}

div.show {
  display: none;
}
