div#new-book-button-panel {
  transition: background-color 700ms cubic-bezier(0, 0.85, 0.23, 1.01), width 160ms cubic-bezier(0, 0, 1, 1), height 160ms cubic-bezier(0, 0, 1, 1), box-shadow 160ms cubic-bezier(0, 0, 1, 1);
}

div#new-book-button-panel > span {
  transition: opacity 300ms cubic-bezier(0.54, 0.51, 0.66, 1.4);
}

div#vertical_line {
  transition: opacity 250ms cubic-bezier(0, 0.75, 0.58, 0.7);
}

div#horizontal_line {
  transition: opacity 250ms cubic-bezier(0, 0.75, 0.58, 0.7);
}

div#decorative-line {
  transition: width 700ms cubic-bezier(0, 0.85, 0.23, 1.01);
}

div#new-book-button:hover div#new-book-button-panel {
  width: 220px;
  height: 130px;
  box-shadow: none;
  background-color: #fcfcfc;
}

div#new-book-button-panel:hover > span {
  opacity: 1;
}

div#new-book-button:hover div#vertical_line {
  opacity: 0;
}

div#new-book-button:hover div#horizontal_line {
  opacity: 0;
}
