div#decorative-line {
  top: 250px;
  width: 100%;
  height: 30px;
  background-color: #444c5c;
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

div.name-panel {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #fcfcfc;
  opacity: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #444c5c;
}

div.new-book-button {
  width: 170px;
  height: 90px;
  margin-top: 45px;
  z-index: 1;
  background-color: white;
  border: 1px solid #f6f6f6;
  border-right-color: transparent;
  border-left-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

div.new-book-button > a > div {
  width: 100%;
  height: 100%;
}

div.lk-button {
  border: 1px outset grey;
  width: 200px;
  height: 30px;
  margin-top: 45px;
  padding-top: 15px;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #444c5c;
  cursor: pointer;
}

div.lk-button:hover {
  background-color: #fca311;
  color: #f6f6f6;
  opacity: 90%;
  font-weight: bolder;
  border-color: #fca311;
}

div.book-list-nav {
  margin-top: 80px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.book-list {
  height: inherit;
  padding: 0 30px;
  background-color: white;
  width: inherit;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.book-icon {
  margin: 0 30px;
  width: 150px;
  height: 120px;
  background-color: #ededed;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.filename {
  margin-top: 100px;
  width: inherit;
  height: 20px;
  background: #fedaa0;
  border-radius: 0 0 5px 5px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444c5c;
  align-content: end;
}

div.nav-arrow {
  width: 30px;
  height: 156px;
  background-color: #444c5c;
  opacity: 50%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3), -2px 0 4px rgba(0, 0, 0, 0.25);
}

div.nav-arrow:hover {
  opacity: 70%;
}

div#vertical_line {
  width: 12px;
  height: 70px;
  background-color: #918f8f;
  position: absolute;
  margin-top: 10px;
  margin-left: 79px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

div#horizontal_line {
  width: 70px;
  height: 12px;
  background-color: #c4c4c4;
  position: absolute;
  margin-top: 39px;
  margin-left: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
