div.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.show-flex {
  display: flex;
}

.show-block {
  display: block;
}

input.cursor-text {
  cursor: text;
}
