body {
  background-color: #eee;
}

nav.header {
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav.header div.logo {
  width: 70px;
  height: 45px;
  left: 20px;
  top: 13px;
}

div.content {
  padding: 0;
  margin-top: 80px;
}

div.tools-wrapper {
  width: 100vw;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 10px solid #444c5c;
  box-shadow: inset 0px -2px 53px -18px rgba(0,0,0,0.75);
}

div.table-wrapper {
  width: 100vw;
  height: calc(100vh - 180px);
  box-sizing: border-box;
  overflow: scroll;
}

#table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #d9d9d9;
  border-radius: inherit;
}

#table tr {
  height: 22px;
}

#table td {
  border: 1px solid #d9d9d9;
  padding: 5px 2px;
  box-sizing: border-box;
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 400;
  white-space: nowrap;
  cursor: cell;
}

#table td.column-header, #table td.row-header {
  position: relative;
  background: #f3f3f3;
  font-weight: 600;
  color: #444c5c;
  text-align: center;
  cursor: pointer;
}

#table td.row-header {
  min-width: 70px;
}

#table td.column-header {
  min-width: 100px;
}

#table .vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  width: 6px;
}

#table .horizontal {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -3px;
  height: 6px;
}

#table td.selection-border-right {
  border-right: 2px solid #fca311;
}

#table td.selection-border-bottom {
  border-bottom: 2px solid #fca311;
}

.not-dragged .vertical:hover {
  cursor: col-resize;
}

.not-dragged .horizontal:hover {
  cursor: row-resize;
}
