::-webkit-scrollbar {
  width: 12px;
}

body {
  background-color: #eee;
}

nav.header {
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(../img/logo-2.png);
  background-size: 70px 45px;
  background-position: 20px center;
}

div.content {
  padding: 0;
  margin-top: 60px;
}

div#toolbar-wrapper {
  width: 100vw;
  height: 100px;
  background-color: #eee;
  box-sizing: border-box;
  border-bottom: 10px solid #444c5c;
}

div#toolbar-header {
  display: flex;
  flex-direction: row;
}

div#toolbar-tabs {
  background-color: #444c5c;
  height: 30px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.toolbar-tab {
  height: 100%;
  width: 100px;
  background-color: #fca311;
  transform: skew(135deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.toolbar-tab-active {
  background-color: #f89a03;
}

div.toolbar-tab:hover {
  background-color: #f89a03;
}

div.toolbar-tab div {
  transform: skew(-135deg);
  pointer-events: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444c5c;
}

div.cell-info-display {
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input.cell-info {
  margin-left: 45px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #444c5c;
  border: none;
  outline: none;
  width: calc(100% - 45px);
  box-sizing: border-box;
}

div.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

div.toolbar-row {
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

div#toolbar-main {
  width: 140px;
  border-right: 1px dashed #444c5c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div#toolbar-font {
  width: 250px;
  border-right: 1px dashed #444c5c;
}

div#toolbar-color {
  width: 200px;
  border-right: 1px dashed #444c5c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div#toolbar-ident {
  width: 140px;
}

div.drop-down-list-wrapper {
  display: flex;
  flex-direction: column;
}

div.drop-down-list {
  margin-top: 20px;
  z-index: 1;
  height: max-content;
  background-color: white;
  position: absolute;
}

div.drop-down-list-wrapper#tool-font div.drop-down-list {
  width: 150px;
}

div.drop-down-list-wrapper#tool-fontsize div.drop-down-list {
  width: 60px;
}

div.drop-down-list ol {
  padding: 2px 2px;
}

div.drop-down-list li {
  padding: 2px 0;
  user-select: none;
}

div.drop-down-list li:hover {
  background-color: #918f8f;
}

div.text-input-list {
  display: flex;
  flex-direction: row;
}

div.text-input-list input[type="text"] {
  height: 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: #444c5c;
}

div.text-input-list input[type="text"]:focus {
  border: none;
}

.unbar-button {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/unbar-button.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: bottom;
}

.unbar-button:hover {
  background-color: #767676;
}

.unbar-button-input {
  width: 20px;
  height: 20px;
}

.unbar-button-standard {
  width: 8px;
  height: 20px;
  align-items: flex-end;
}

.unbar-button-big {
  width: 15px;
  height: 40px;
  align-items: flex-end;
}

input[type="color"] {
  border: 0;
  outline: none;
  opacity: 0;
  width: 15px;
  height: 40px;
  position: absolute;
  margin-left: 40px;
  padding: 0;
}

input[type="color"]:hover + div.unbar-button {
  background-color: #767676;
}

#input-font {
  width: 130px;
}

#input-fontsize {
  width: 40px;
}

div.tool-button-standard {
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

div.tool-button-big {
  background-color: white;
  width: 40px;
  height: 40px;
}

div.tool-button-great {
  width: 100px;
  height: 40px;
  background-color: white;
}

div.tool-button-standard:hover, div.tool-button-big:hover, div.tool-button-great:hover {
  color: #fca311;
}

div.button-active {
  color: #fca311;
}

#button-bold {
  font-weight: normal;
}

#button-italic {
  font-style: normal;
}

#button-underline {
  text-decoration: none;
}

#button-line-through {
  text-decoration: none;
}

#button-high-reg {
  font-size: 35px;
  font-weight: bold;
}

#button-low-reg {
  font-size: 35px;
  font-weight: bold;
}

#button-text-color {
  font-size: 30px;
}

#button-bg-color {
  font-size: 30px;
}

#button-border-color {
  font-size: 30px;
}

#button-search {
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

#button-erase {
  background-image: url(../img/erase-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

#button-sort {
  background-image: url(../img/sort-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}

#button-filter {
  background-image: url(../img/filter-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}

#toolbar-filter {
  width: 350px;
  margin-left: 10px;
  height: 100%;
  justify-content: space-around;
}

div.toolbar-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60px;
}

div#table-wrapper {
  width: 100vw;
  box-sizing: border-box;
  overflow: scroll;
}

#table {
  table-layout: fixed;
  border: 1px solid #d9d9d9;
  border-collapse: separate;
}

#table td {
  box-sizing: border-box;
  white-space: nowrap;
  cursor: cell;
  border: 1px solid #d9d9d9;
  background-color: #f3f3f3;
}

#table td.column-header, #table td.row-header {
  position: relative;
  background: #eee;
  font-family: Lato, sans-serif;
  font-weight: 600;
  color: #444c5c;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 25px;
}

#table td.header-selected {
  background-color: #fca311;
}

input.cell {
  width: 100px;
  min-height: 25px;
  height: 100%;
  border: 0;
  padding: 0 5px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  outline: none;
  z-index: 0;
  cursor: cell;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #1f1f1f;
}

#table td:hover {
  border: 1px solid #999 !important;
}

#table td.selection {
  border: 1px dashed #999 !important;
}

#table td.selected {
  border: 1px solid #fca311 !important;
}

#table td.selected:hover {
  background-color: #d9d9d9;
}

#table td.selected:hover > input.cell {
  background-color: #d9d9d9;
}

#table td.row-header {
  min-width: 70px;
}

#table td.column-header {
  height: 25px;
}

#table tr:nth-child(1) > td:nth-child(1):hover {
  background-color: inherit;
  cursor: inherit;
}

#table td.column-header:hover, #table td.row-header:hover {
  border: 1px solid #d9d9d9;
  background-color: #f89a03;
}

.triangle {
  position: absolute;
  border: 10px solid transparent;
  border-right: 10px solid #999;
  border-bottom: 10px solid #999;
  width: 0;
  height: 0;
  right: 2px;
  bottom: 2px;
}

.vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  width: 6px;
}

.vertical:hover {
  cursor: col-resize;
}

.horizontal {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -3px;
  height: 6px;
}

.horizontal:hover {
  cursor: row-resize;
}
